<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>32BA95801C87DAB400FC46BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32BA958A1C87DAB400FC46BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32FE59A61CC188FD0066B342</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32FE59AF1CC188FD0066B342</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32FE59C21CC18A7C0066B342</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32FE59CB1CC18A7D0066B342</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32FE59DE1CC18AA60066B342</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
